.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid black;
    border: none;
    width: 300px;
    gap: 5px;
    margin: 10px auto;
    width: 90%;
}



